@model SFA.DAS.Tools.Support.Web.Models.EmployerSupport.UserOverviewViewModel
@using SFA.DAS.Tools.Support.Web.Configuration
@using SFA.DAS.Tools.Support.Core.Models.Enums;

@{
    ViewData["Title"] = "User Overview";
    var fullName = $"{Model.FirstName} {Model.LastName}";
}

<div class="secondary-header">
    <div class="grid-row">
        <div class="column-full">

            <h1 class="govuk-heading-l">
                @(fullName)
            </h1>          
        </div>
    </div>
    <br />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <nav class="sub-nav">
                <ul class="govuk-task-list" role="menu">
                    <li class="govuk-task-list__item govuk-task-list__item--with-link selected">
                        Overview
                    </li>                   
                </ul>
            </nav>
        </div>
        <div class="govuk-grid-column-two-thirds">
            @if (Model != null)
            {
                <h1 class="govuk-heading-l">
                    User overview
                </h1>   
                
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Name:</th>
                            <td class="govuk-table__cell">@fullName</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Email:</th>
                            <td class="govuk-table__cell">@Model.Email</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Account status:</th>
                            <td class="govuk-table__cell">@Model.Status</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <h2 class="govuk-heading-m">@fullName can access</h2>

                if (Model.AccountSummaries.Any())
                {
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                &nbsp;
                            </dd>
                        </div>
                        @foreach (var item in Model.AccountSummaries)
                        {
                            <div class="govuk-summary-list__row">
                                <dd class="govuk-summary-list__value">
                                    @item.DasAccountName
                                </dd>
                                <dd class="govuk-summary-list__value">
                                    <a href="@Url.Action(RouteNames.EmployerSupport_AccountDetails, new {
                                            hashedAccountId = item.HashedAccountId,
                                            accountFieldsSelection = AccountFieldsSelection.EmployerAccount})"
                                       class="govuk-link">
                                        view
                                    </a>
                                </dd>
                            </div>                            
                        }                      
                    </dl>
                }
                else
                {
                    <div>No employer accounts</div>
                }
            }
            else
            {
                <div>User not found</div>
            }
        </div>
    </div>
</div>