@{
    ViewData["Title"] = "Support Portal";
    @model StopApprenticeshipViewModel
    @using SFA.DAS.Tools.Support.Web.Configuration
}

<style>
    #stopApprenticeshipsTable td {
        overflow-wrap: anywhere;
    }

    .govuk-width-container {
        max-width: unset;
        margin-right: 30px;
        margin-left: 30px;
    }
</style>

@if (Model != null && Model.HasError)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Error retrieving Apprenticeship(s) to Stop.
            </h1>
            <p>
                Please return to the <a asp-action="@ApprovalsRouteNames.SearchApprenticeships">search</a> to try again.
            </p>
        </div>
    </div>

}
else
{

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Stop Apprenticeships
            </h1>
        </div>
        <div asp-validation-summary="ModelOnly" id="searchFormValidationSummary" class="govuk-error-message"></div>
    </div>
    <div>

        <form id="stopApprenticeshipsForm" method="post">
            <table id="stopApprenticeshipsTable"
                   data-toggle="table"
                   data-sortable="true"
                   style="table-layout: fixed">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col"
                            class="col-wrap"
                            data-field="id"
                            data-visible="false">
                        </th>
                        <th scope="col"
                            class="col-wrap"
                            data-field="accountId"
                            data-visible="false">
                        </th>
                        <th scope="col"
                            class="col-wrap"
                            data-sortable="true"
                            data-field="firstName"
                            data-width="10"
                            data-width-unit="%">
                            First Name
                        </th>
                        <th scope="col"
                            class="col-wrap"
                            data-sortable="true"
                            data-field="lastName"
                            data-width="10"
                            data-width-unit="%">
                            Last Name
                        </th>
                        <th scope="col"
                            class="col-wrap"
                            data-sortable="true"
                            data-field="status"
                            data-width="10"
                            data-width-unit="%">
                            ULN
                        </th>
                        <th scope="col"
                            class="col-wrap"
                            data-sortable="true"
                            data-field="employerName"
                            data-width="10"
                            data-width-unit="%">
                            Employer Name
                        </th>
                        <th scope="col"
                            class="col-wrap"
                            data-sortable="true"
                            data-field="providerName"
                            data-width="10"
                            data-width-unit="%">
                            Provider Name
                        </th>
                        <th scope="col"
                            class="col-wrap"
                            data-sortable="true"
                            data-field="startDate"
                            data-formatter="dateFormatter"
                            data-width="10"
                            data-width-unit="%">
                            Start Date
                        </th>
                        <th scope="col"
                            class="col-wrap"
                            data-sortable="true"
                            data-field="endDate"
                            data-formatter="dateFormatter"
                            data-width="10"
                            data-width-unit="%">
                            End Date
                        </th>
                        <th scope="col"
                            class="col-wrap"
                            data-sortable="true"
                            data-field="status"
                            data-width="10"
                            data-width-unit="%">
                            Status
                        </th>
                        <th scope="col"
                            class="col-wrap"
                            data-width="20"
                            data-width-unit="%"
                            data-formatter="dateFieldFormatter">
                            Stop Date
                        </th>
                    </tr>
                </thead>
            </table>
            <br />
            @Html.HiddenFor(s => s.SearchParams.EmployerName)
            @Html.HiddenFor(s => s.SearchParams.ProviderName)
            @Html.HiddenFor(s => s.SearchParams.CourseName)
            @Html.HiddenFor(s => s.SearchParams.ApprenticeName)
            @Html.HiddenFor(s => s.SearchParams.StartDate)
            @Html.HiddenFor(s => s.SearchParams.EndDate)
            @Html.HiddenFor(s => s.SearchParams.SelectedStatus)
            <input type="hidden" id="apprenticeshipsData" name="ApprenticeshipsData" />
            <button asp-route="@ApprovalsRouteNames.CancelStopApprenticeship" class="govuk-button" data-module="govuk-button">Back</button>
            <button asp-route="@ApprovalsRouteNames.StopApprenticeshipConfirmation" class="govuk-button" data-module="govuk-button" id="stopApprenticeshipsButton">Stop Apprenticeship(s)</button>
        </form>
    </div>

    @section scripts {

        <script type="text/javascript">
            $(document).ready(function () {
                var table = $('#stopApprenticeshipsTable')
                var tableData = '@Html.Raw(Model.GetApprenticesTableData())';
                var json = JSON.parse(tableData);
                table.bootstrapTable('load', json);

                $('#stopApprenticeshipsForm').submit(function () {
                    var table = $('#stopApprenticeshipsTable');
                    var data = table.bootstrapTable('getData');

                    data.forEach(addStopDate);
                    $('#apprenticeshipsData').val(JSON.stringify(data));
                    return true;
                });
                if ($('#searchFormValidationSummary').length) {
                    $('input[type=date]').each(function () {
                        if (!$(this).val()) {
                            $(this).addClass('govuk-input--error');
                        }
                    })
                }
            });

        function addStopDate(item, index) {
            var date = $('#stopDate_' + index).val();
            item.enteredStopDate = date;
        }

        function dateFieldFormatter(value, row, index) {

            if (row.apiSubmissionStatus === 1) {
                return "Submitted Successfully";
            }

            var errorClassString = "";
            var errorMessage = "";
            if (row.apiSubmissionStatus === 2) {
                errorClassString = "govuk-input--error"
                errorMessage = '<p>' + row.apiErrorMessage + '</p>';
            }

            var valueString = "";
            if (row.enteredStopDate) {
                valueString = 'value="' + row.enteredStopDate + '"';
            }

            var inputControl = '<input type="date" class="govuk-input govuk-input--width-20 ' + errorClassString + '" id="stopDate_' + index + '" ' + valueString + ' />';
            return inputControl + errorMessage;
        }


        function dateFormatter(value) {
            return new Date(value).toLocaleDateString("en-UK")
        }

        </script>
    }
}
