<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tool Service</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link href="css/main.css" media="screen" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.1/bootstrap-table.min.css" />  

    @Html.Raw(JavaScriptSnippet.FullScript)

</head>
<body class="govuk-template__body {{ bodyClass }}">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    <header class="govuk-header " role="banner" data-module="header">
        <div class="govuk-header__container govuk-width-container">
            <div class="govuk-header__content">
                <a href="/support" class="govuk-header__link govuk-header__link--service-name">
                    Apprenticeship service bulk stop utility
                </a>
            </div>
            <span id="navigation" class="govuk-header__navigation das-float-right" aria-hidden="true">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="govuk-header__link" href="@Url.Content("/support/logout")">
                        Logout
                    </a>
                }
            </span>
        </div>
    </header>
    <div class="govuk-width-container">
        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This tool is for internal use only.
                </span>
            </p>
        </div>

        <main class="govuk-main-wrapper " id="main-content" role="main">

            @RenderBody()
        </main>
        @RenderSection("PreFooterJS", required: false)
        <footer class="group js-footer" id="footer" role="contentinfo">
            <div class="footer-wrapper">
                <div class="footer-meta">
                    <div class="footer-meta-inner">
                        <div class="open-government-licence">
                            <p class="logo">
                                <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                            </p>
                            <p>
                                All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                            </p>
                        </div>
                    </div>
                    <div class="copyright">
                        <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.1/bootstrap-table.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>